<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nantconsole" type="CDS.Framework.Tools.NAntConsole.Configuration.NAntConsoleConfigurationSection, CDS.Framework.Tools.NAntConsole"/>
  </configSections>
  <nantconsole releaseNotes="ReleaseNotes.txt" timespanBetweenCheckForUpdatesInMinutes="30">
    <svn-repositories>
      <repository uri="http://svn.cgiquebec.ca/repos/CDS"/>
      <repository uri="http://svn.cgiquebec.ca/repos/cirque"/>
    </svn-repositories>
    <nant-properties>
      <property name="nantconsole.delivery.dir" value="\\mtlmdvweb001.development.studio.cdsorg.net\Packages"/>
    </nant-properties>
    <updater productCode="6CEE2296-0308-4918-9307-A188509FEAB5" timespanBetweenUpdatesInMinutes="120">
      <locations>
        <location path="E:\TestUpdates" />
      </locations>
    </updater>
  </nantconsole>
</configuration>
