<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nantconsole" type="CDS.Framework.Tools.NAntConsole.Configuration.NAntConsoleConfigurationSection, CDS.Framework.Tools.NAntConsole"/>
  </configSections>
  <nantconsole>
    <nant-properties>
      <property name="nantconsole.delivery.dir" value="\\mtlmdvweb001.development.studio.cdsorg.net\Packages"/>
    </nant-properties>
  </nantconsole>
</configuration>
